<!DOCTYPE html>
<html lang="cn" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>查询结果</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="/static/css/reset.css" rel="stylesheet">
    <!-- Bootstrap3.3.5 CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/queryResult.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
      <div class="queryResule">
          <h2>中国高等教育学历证书查询结果</h2>
          {{if .History}}
            <div id="tableDiv">
                <table id="table" style="margin: 0 auto;">
                    <tr>
                        <td>事件类型</td>
                        <td>商品名称</td>
                        <td>编号</td>
                        <td>描述</td>
                        <td>加工方式</td>
                        <td>规格</td>
                        <td>来源</td>
                        <td>备注信息</td>
                        <td>修改时间</td>
                    </tr>
                    {{range .Com.Historys}}
                        <tr>
                            <td>{{.Commodity.ObjectType}}</td>
                            <td>{{.Commodity.Name}}</td>
                            <td>{{.Commodity.Primarykey}}</td>
                            <td>{{.Commodity.Des}}</td>
                            <td>{{.Commodity.Type}}</td>
                            <td>{{.Commodity.Specification}}</td>
                            <td>{{.Commodity.Source}}</td>
                            <td>{{.Commodity.Remarks}}</td>
                            <td>{{.Commodity.Time}}</td>
                        </tr>
                    {{end}}
                </table>
            </div>
          {{end}}
          <div class="top">
              <div class="left">
                  <p>
                      <span>商品名称：</span>
                      <span>{{.Com.Name}}</span>
                  </p>
                  <p>
                      <span>编号：</span>
                      <span>{{.Com.Primarykey}}</span>
                  </p>
                  <p>
                      <span>规格：</span>
                      <span>{{.Com.Specification}}</span>
                  </p>
                  <p>
                      <span>描述：</span>
                      <span>{{.Com.Des}}</span>
                  </p>
                  <p>
                      <span>来源：</span>
                      <span>{{.Com.Source}}</span>
                  </p>
                  <p>
                      <span>备注信息：</span>
                      <span>{{.Com.Remarks}}</span>
                  </p>
              </div>
              <div class="right">
                  <p>
                      <span>保质期：</span>
                      <span>{{.Com.ShelfLife}}</span>
                  </p>
                  <p>
                      <span>储存方式：</span>
                      <span>{{.Com.StorageMethod}}</span>
                  </p>
                  <p>
                      <span>品牌：</span>
                      <span>{{.Com.Brand}}</span>
                  </p>
                  <p>
                      <span>生产厂商：</span>
                      <span>{{.Com.Vendor}}</span>
                  </p>
                  <p>
                      <span>生产地：</span>
                      <span>{{.Com.PlaceOfProduction}}</span>
                  </p>

                  <p>
                      <span>执行标准：</span>
                      <span>{{.Com.ExecutiveStandard}}</span>
                  </p>
              </div>
              <div class="headImg">
                  <img src="{{.Com.Photo}}" alt="">
              </div>
          </div>
          <p>
              {{if eq .CurrentUser.IsAdmin "T"}}
                  <a href="/modifyPage?certNo={{.Com.CertNo}}&name={{.Com.Name}}">修改信息</a>
              {{end}}
              <a href="/index">返回首页</a>
          </p>
          <div class="bottom">
              <p><b>声明</b></p>
              <p>1、未经学历信息权属人同息,不得将本材科用于违背权属人意愿之用速,学历信息内容标注“*”号,表示该内容不详,学历信息如有修改,请以网站在线查询内容为准则。</p>
              <p>2、学历证书查询结果仅供查询人使用,不具有再验证功能,如需向第三方提供学历信息,建议使用具有检证功能的学历证书电子注册备案表。</p>
          </div>
      </div>
  </div>
  </body>
</html>
